@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<h2>Contact</h2>
<h3>@ViewBag.Message</h3>

<address>
    108 West 81st Street<br />
    New York NY 10024<br />
    <abbr title="Phone">P:</abbr>
    800-435-8776
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
