
@{
    ViewBag.Title = "CTB";
}

<h2>CTB</h2>

<!DOCTYPE>
<html>
<head>
    <title>Odysseus Search Forms - Test - Odysseus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--
    script tag details:
    1. be sure to change the src= URL to https://******/web/SearchForms/OFramework.js  -- where ****** is your domain setup with odysseus. Note, if the domain is not setup with Odysseus, it will not work.
    2. ThemeURI - this tells our code where to load the core template from. This should be a relative path.
    if you place the HTML file in the root directory, you should place the folder in that same directory. If you change the path of that folder, please update the path appropriately.
    3. this script tag should be on the top of the page, preferably inside the <head> element
    -->
    <script type="text/javascript" language="javascript" id="OFrameworkJS" ThemeURI="OdyResponsiveSearchForm-Blue-Air/" SkinID="default" src="http://book.cooktravel.net/web/SearchForms/OFramework.js"></script>
</head>
<body>
    <div id="AirSearchForm"></div>
</body>
</html>
<!--
script tag details:
1. this script should be at the bottom of the page, towards the end
2. must add proper siid
-->
<script language="javascript" type="text/javascript">
    if (OFramework != null) {
        OFramework.QSParams.Add("siid", "124589"); // change this with your valid siid (odysseus generated ID for each website/affiliate - unique per site)
        //OFramework.QSParams.Add("referrer", "testing query string add"); // be sure to remove this or set the right value here - for  example only

        oAForm = OFramework.AirSearchForm(document.getElementById("AirSearchForm"));
        //oAForm.Target = "_new";
    }
</script>
